@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.containerHome {
    width: 100%;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.3rem;
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  blockquote {
    border-left: 4px solid #333;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  
  footer {
    margin-top: 10px;
    font-style: italic;
  }


  .whyChooseUs {
    font-size: 2.5rem;
    width: 100%;
    padding: 20px 125px 20px 85px;
    background-color: #d02e26;
    color: white;
    margin-top: 5px;
  }

  .ourServices {
    display: flex;
    width: 100%;
    padding: 0px 125px 0px 85px;
    margin-top: 5px;
  }
  .ourServicesText{
    margin-right: 30px;
  }
  .ourServiceImg {
    background-image: url('../img/EdifPublic.jpg');
    background-image: cover;
  }

  .construction {

   text-align: center;
  }

  .construction img  {
   width: 250px !important;
   
  }

  .constructionLogo {

    text-align: center;
   }
 
   .constructionLogo img  {
    width: 250px !important;
    margin-top: 20px;
    
   }
  
  @media (max-width: 994px) {
    
    .containerHome {
        margin-left: 0;
        display: flex !important;;
        align-items: center !important;;
        justify-content:center !important;;
        flex-direction: column !important;

    }

    .title {
        font-size: 2.3rem;
        margin-top: 20px;
      }

      .whyChooseUs {
        width: 100%;
        padding: 30px 30px 30px 30px;
        background-color: #d02e26;
        color: white;
      }
}